<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title >Products</title>
    <div th:replace="fragments/bootstrap"></div>
<!--    <link th:href="@{/css/styles.css}" rel="stylesheet" />-->
    <script th:src="@{/js/script.js}"> </script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<div class="container" align="center">

    <div class="jumbotron"> Embrace the CRUD </div>
    <a href="/new">
        Create product
    </a>
    <table align="center" class="table table-striped table-hover">

    <thead class="thead">
        <th> Name </th>
        <th> Brand </th>
        <th> Price </th>

    </thead>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.brand}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{'/edit/' + ${product.id}}">Edit </a>
            <br>
            <a th:href="@{'/delete/' + ${product.id}}">Delete</a>

        </td>
    </tr>
</table>
</div>

<p style="margin-top: 200px;" align="center" th:fragment="footer">
    Copyright Sam Jones: 2019
</p>
</body>
</html>